__pycache__/*
packages/__pycache__/*
tool_tracking/__pycache__/*
bugs/
test
patch/
commit.sh
.vscode
MonteCarlo
sandbox
metrics/__pycache__/
sextantlib/__pycache__/
data/carto/sissonne.tif
data/shapefiles/
data/base
